.normal label {
  white-space: pre-line;
  word-break: break-all;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

.container {
  display: flex;
}

.container amount {
  min-width: 30px;
}

.column {
  display: flex;
  flex-direction: column;
}
